body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  overflow: auto;
  width: 100%;
  overflow-x: hidden;
}

#navbar {
  position: fixed;
  width: 100vw;
  background-color: #1b211e;
  height: 50px;
  border-bottom: 1px solid #d1e8e2;
  z-index: 2;
}
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10vw;
  padding-right: 10vw;
  height: 50px;
}

#navbar a {
  color: #d1e8e2;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

#navbar a:hover {
  opacity: 0.7;
}

main {
  margin: 0;
  padding: 0;
  background-image: url(https://images.pexels.com/photos/32997/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  font-weight: 300;
  position: absolute;
}

.scroll-container {
  scroll-snap-type: y mandatory;
  overflow: scroll;
}

#image-gradient {
  background: radial-gradient(#0c4546, #2c3531);
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
  position: absolute;
}

#welcome-section {
  width: 100vw;
  color: #d1e8e2;
  position: absolute;
  top: 40vh;
  text-align: center;
  scroll-snap-align: start;
}

.project-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15vw;
}

.projects {
  scroll-snap-align: start;
}

#projects {
  position: absolute;
  overflow: hidden;
  padding-top: 10vh;
  top: 100vh;
  background-color: #1b211e;
  border-top: 1px solid #d1e8e2;
  height: 100vh;
  width: 100vw;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  color: #d1e8e2;
}

.image-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
}

.image-container:hover {
  opacity: 0.7;
}

.image-container a {
  color: #d1e8e2;
  text-decoration: none;
  margin-top: 2vh;
  font-size: 20px;
}

.fcc-product-landing-page-image {
  width: 400px;
  height: 300px;
  object-fit: cover;
  object-position: top;
}

#socials {
  background-color: #b2c6c1;
  position: absolute;
  top: 200vh;
  height: 90vh;
  width: 100vw;
  color: #2c3531;
  z-index: 1;
  text-align: center;
  padding-top: 10vh;
}

.social-buttons {
  display: flex;
  justify-content: center;
  gap: 1vw;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 15px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3b5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-google {
  background: #dd4c38;
  color: white;
}

.fa-soundcloud {
  background: #ff5600;
  color: white;
  text-align: left;
  align-items: center;
}

h1,
h2 {
  font-size: 50px;
  font-weight: 200;
}
p {
  font-size: 16px;
  font-weight: 200;
}

@media screen and (max-width: 600px) {
  #welcome-section {
    top: 28vh;
  }
}
